<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR code generator</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-container">
        <div class="content-container">
            <div class="ticket-container">
                <h3>Broj dosad generiranih QR kodova:</h3>
                <p><%= counter %></p>
                <a href="/generate" class="button">Generiraj novi QR kod</a>
            </div>
        </div>
    </div>
</body>

</html>