* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #f1f1f1;
}

/* home page */
.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #075175;
}

.content-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.3em 1px rgba(0, 0, 0, 0.5);
    background: #08608d;
    height: 30em;
    width: 50em;
    border-radius: 15px;
    padding: 2vw;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.ticket-container h3 {
    font-size: 2.7em;
    margin-bottom: 1em;
}

.ticket-container p {
    font-size: 5em;
    margin-bottom: 0.5em;
}

.button {
    background-color: #036edf;
    padding: 1em 1.2em;
    border: none;
    box-shadow: 0 0 0.3em 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #077af6;
    transition: ease-out 0.3s;
}

@media screen and (max-width: 1000px) {
    .content-container {
        height: 20em;
        width: 40em;
        padding: 1em;
    }

    .ticket-container h3 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .ticket-container p {
        font-size: 3em;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 679px) {
    .content-container {
        height: 17em;
        width: 30em;
        padding: 1em;
    }

    .ticket-container h3 {
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .ticket-container p {
        font-size: 3.5em;
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 500px) {
    .content-container {
        width: 20em;
    }

    .ticket-container h3 {
        text-align: center;
    }

    .ticket-container p {
        margin-bottom: 0.5em;
    }

    .button {
        font-size: 1em;
    }
}

@media screen and (max-width: 340px) {
    .content-container {
        width: 15em;
        height: 18em;
    }

    .ticket-container h3 {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    .ticket-container p {
        margin-bottom: 0.3em;
    }

    .button {
        font-size: 1em;
        padding: 1em 1.2em;
    }
}


/* qr code generating page */
.gen-main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #075175;
    overflow-y: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.3em 1px rgba(0, 0, 0, 0.5);
    background: #08608d;
    height: auto;
    width: 40em;
    border-radius: 15px;
    padding: 1.5em;
    align-items: center;
    flex-grow: 0;
    margin-bottom: 2em;
    margin-top: 2em;
}

.input-align {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-container p {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    align-self: center;
}

.form-container label {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.form-container input {
    height: 1.5em;
    color: black;
    font-size: 1.5em;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.form-container button {
    background-color: #036edf;
    width: 40%;
    align-self: center;
    padding: 0.8em 1em;
    border: none;
    box-shadow: 0 0 0.3em 1px rgba(0, 0, 0, 0.5);
    border-radius: 3em;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}

.form-container button:hover {
    background-color: #077af6;
    transition: ease-out 0.3s;
}

.qr-code-container img {
    width: 15em;
    height: 15em;
    border-radius: 20px;
    margin-top: 1.5em;
    background: none;
}


@media screen and (max-width: 670px) {
    .form-container {
        width: 30em;
    }

    .form-container p {
        text-align: center;
    }

    .input-align {
        width: 85%;
    }
}

@media screen and (max-width: 490px) {
    .form-container {
        width: 20em;
    }

    .input-align {
        width: 100%;
    }

    .form-container p {
        font-size: 1.5em;
    }

    .form-container label {
        font-size: 1.1em;
    }

    .form-container button {
        font-size: 1em;
    }

    .qr-code-container img {
        width: 10em;
        height: 10em;
        border-radius: 20px;
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 330px) {
    .form-container {
        width: 15em;
    }

    .form-container p {
        margin-bottom: 1em;
    }

    .form-container label {
        font-size: 1.1em;
        margin-bottom: 5px;
    }

    .form-container button {
        font-size: 1em;
        width: 60%;
    }
}

/*info page*/
.info-main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #075175;
    overflow-y: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.3em 1px rgba(0, 0, 0, 0.5);
    background: #08608d;
    height: auto;
    width: 40em;
    border-radius: 15px;
    padding: 2.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.ticket-info {
    margin-bottom: 2em;
}

.ticket-info h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

.ticket-info h2 {
    color: #fff;
    font-weight: 800;
    margin-bottom: 0.3em;
    font-size: 1.5em;
}

.ticket-info p {
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

.user-info h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

.user-info p {
    font-size: 2.2em;
}

@media screen and (max-width: 660px) {
    .info-container {
        width: 30em;
    }

    .ticket-info h1 {
        font-size: 1.8em;
    }

    .ticket-info h2 {
        font-weight: 800;
        font-size: 1.5em;
    }

    .ticket-info p {
        font-size: 1.2em;
    }

    .user-info h1 {
        font-size: 1.8em;
    }

    .user-info p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .info-container {
        width: 25em;
    }
}

@media screen and (max-width: 410px) {
    .info-container {
        width: 20em;
    }

    .ticket-info h1 {
        font-size: 1.8em;
    }

    .ticket-info h2 {
        font-weight: 800;
        font-size: 1.4em;
    }

    .ticket-info p {
        font-size: 1.1em;
    }

    .user-info h1 {
        font-size: 1.4em;
    }

    .user-info p {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 330px) {
    .info-container {
        width: 15em;
        padding: 1em;
    }

    .ticket-info h1 {
        font-size: 1.8em;
    }

    .ticket-info h2 {
        font-weight: 800;
        font-size: 1.1em;
    }

    .ticket-info p {
        font-size: 0.9em;
    }

    .user-info h1 {
        font-size: 1.2em;
    }

    .user-info p {
        font-size: 1em;
    }
}